.cardcontainer{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.weathercard { 
    font-family: 'courier new';
    border-radius: 25px;
    background-color: lightgrey;
    margin: 10px;
    width: 450px;
    color: black;
    padding: 10px;
    text-align: center;
}